extends partials/templates/_template.pug

block content
  +b.page--search

    // Sidebar
    include partials/components/_sidebar.pug  

    // Main
    +b.MAIN.main

      // Search advanced
      +b.SECTION.search-advanced
        +e.FORM.form(action='', method='')
          +e.LABEL.label
            +e.INPUT.input(type='text', name='Поиск', placeholder="Поиск по сайту")
          +e.SELECT.select
            option(selected='selected') По интересам
            each val in ['автостоп', 'актерское мастерство', 'бизнес', 'видеосъёмка', 'визаж', 'вязание', 'гадание', 'диета', 'дружба', 'домохозяйство', 'здоровье', 'живопись', 'животные', 'искусство', 'йога', 'иностранные языки', 'карьера', 'кино', 'красота', 'кулинария', 'автостоп', 'актерское мастерство', 'бизнес', 'видеосъёмка', 'визаж', 'вязание', 'гадание', 'диета', 'дружба', 'домохозяйство', 'здоровье', 'живопись', 'животные', 'искусство', 'йога', 'иностранные языки', 'карьера', 'кино', 'красота', 'кулинария']
              option= val
          +b.BUTTON.btn(type='submit') Найти

      // Search results
      +b.SECTION.search-results
        +e.heading 
          +e.H3.title Результаты поиска по запросу "йога":
          +e.amount Найдено 60 записей в блоге
        +e.OL.list
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Как правильно организовать занятия йогой и диету?
            +e.date Опубликовано 12 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Совместимы ли йога и беременность?
            +e.date Опубликовано 10 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Философия духа: йога и религия
            +e.date Опубликовано 10 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Гармония тела: практика йоги
            +e.date Опубликовано 9 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Как правильно организовать занятия йогой и диету?
            +e.date Опубликовано 12 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Совместимы ли йога и беременность?
            +e.date Опубликовано 10 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Философия духа: йога и религия
            +e.date Опубликовано 10 мая 2017 г.
          +e.LI.item             
            +e.H2.subtitle 
              +e.A.link(href='page.html') Гармония тела: практика йоги
            +e.date Опубликовано 9 мая 2017 г.

      // Pagination
      +b.SECTION.pagination
        +e.inner
          +e.SPAN.page Страница
          +e.UL.list
            +e.item--active
              a(href="page.html") 1
            +e.item 
              a(href="page.html") 2
            +e.item 
              a(href="page.html") 3
            +e.item 
              a(href="page.html") 4
            +e.item 
              a(href="page.html") 5
            +e.item 
              a(href="page.html") 6





