extends partials/templates/_template.pug
include partials/abstracts/mixins/_comment.pug

block content
  +b.page--sample
    - var samplePage = true

    // Sidebar
    include partials/components/_sidebar.pug  

    // Main
    +b.MAIN.main

      // Post
      +b.ARTICLE.post

        // Main img
        +e.img 
          img(src="img/post1.jpg", alt="post-image", title="post pic")

        // Tags
        +e.tags
          +e.tags-block
            span Интересы:
            +b.UL.post-tags 
              - var tags = ['йога', 'диета', 'здоровье', 'организм', 'девушка', 'фигура', 'медитация'];
              each val in tags
                +e.LI.item
                  a(href='#')= val
          +b.A.like(href="javascript:void(0);") Мне нравится

        // Text
        +e.H3.title Как правильно организовать занятия йогой и диету
        +e.info
          +b.date 12 мая 2017г.
          +b.author Автор: 
            span Александра Полякова
        +e.text
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Аmet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          p Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          p
            img(src="img/post1.jpg", alt="post-image", title="post pic")
          h2 Подзаголовок записи блога
          p Mirum est notare quam littera gothica, quam nunc putamus parum claram, an teposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
          p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
          h3 Подзаголовок записи блога
          p Mypi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demon strav erunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur muta tionem consuetudium lectorum. 
          p Mirum est notare quam littera gothica, quam nunc putamus parum claram, an teposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.

        +b.control-panel
          +b.date 
            span Опубликовано: 
            | 12 мая 2017г.
          +b.counters
            +e.looks 101 
              span просмотров
            +e.comments 2 
              span комментария
          +e.btn
            +b.A.link(href="index.html") 
              span Вернуться к списку записей


      // Comments
      +b.SECTION.comments
        +e.inner
          +e.H3.title Комментарии
          +e.items
            +comment('Виктор', '<p>Достаточно интересно узнать о таком достижению девушки. Юные барышни  любят иногда сидеть на диетах, но не всегда делиться секретами...</p>', '13 мая 2017 г.', '12:30 (МСК)')
            +comment('Александр', '<p>Достаточно интересно узнать о таком достижению девушки. Юные барышни  любят иногда сидеть на диетах, но не всегда делиться секретами...</p>', '14 мая 2017 г.', '15:22 (МСК)')
          +e.A.add(href="#") Добавить комментарий

