.btn{
  display: inline-block;
  text-align: center;
  border: 1px solid #a9a9a9;
  outline: none;
  @include font-family('Roboto Bold', normal, normal);
  border-radius: 2px; 
  color: $text-dark-grey;
  background-image: $grey-btn-gradient;
  padding: 3px 10px;
  margin: 0;
  &:hover, &:focus, &:active{
    text-decoration: none;
    background-image: none;
    background-color: #c0c0c0;
    text-shadow: 0 1px 2px #fff;
    border: 1px solid #999;
  }

  &--subscribe{
    padding: 3px 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    @media (min-width: $screen-xl){
      margin-bottom: 20px;
    }
  }
}

