.comments{
  @media (min-width: $screen-md){
    background-color: #f5f5f5;
    padding: 20px;
  }
  &__inner{    
    @media (min-width: $screen-md){
      background-color: $white;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    }    
  }

  &__title{
    margin: 0;
    padding: 15px 10px 5px;
    font-weight: normal;
    font-size: 15px;
    border-bottom: 1px solid #eaeaea;
    @media (min-width: $screen-md){
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__add{
    display: block;
    padding: 10px 0;
    background-color: #f0f0f0;
    text-align: center;
    color: $text-light-grey;
    &:hover, &:focus {
      color: $red;
    }

    @media (min-width: $screen-md){
      background-color: $white;
      border-top: 1px solid #e6e6e6;
    }
  }
}

.comment{
  padding: 0 10px 10px;
  position: relative;
  @media (min-width: $screen-md){
    padding-left: 20px;
    padding-right: 20px;
  }  
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #e6e6e6;
    display: none;
    @media (min-width: $screen-xl){
      display: block;
    }    
  }
  &:last-child:after{
    display: none;
  }

  &__person{
    display: block;
    margin: 10px 0;
    font-size: 13px;
  }
  &__text{
    font-size: 13px;
    line-height: (22/13);
  }
  &__time{
    color: $text-light-grey;
    font-size: 11px;
    @media (min-width: $screen-xl){
      display: flex;
      justify-content: space-between;
    }
  }
  &__answer{
    margin: 10px 0;
    display: block;
    @media (min-width: $screen-xl){
      margin: 0;
    }
  }
}