.header{
  background-color: $dark-grey;
  &__inner{
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    @media (min-width: $screen-md){
      align-items: center;
    }
    @media (min-width: $screen-xl){
      width: $container-xl;
      margin: 0 auto;
      padding: 7px 0;
    }
  }
  &__slogan{
    flex-basis: 33.33%;    
    font-size: 20px;
    @media (min-width: $screen-md){
      flex-basis: auto;
    }
    @media (min-width: $screen-md){
      flex-basis: 24%;
      order: -2;
    }
    
    a{
      display: block;
      max-width: 90px;      
      margin: 0 auto;
      color: $grey;
      img{
        display: block;
        max-height: 18px;
      }
    }
  }
  &__nav{
    flex-basis: 33.33%;
    text-align: left;
    order: -1;
    @media (min-width: $screen-md){      
      flex-basis: auto;
    }
    @media (min-width: $screen-xl){
      flex-grow: 1;
    }
  }
  &__search{
    flex-basis: 33.33%;
    text-align: right;
    @media (min-width: $screen-md){
      flex-basis: auto;
    }
  }
}

.nav{
  position: relative;
  &__list{
    width: 300%;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    background-color: $dark-grey;
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    font-size: 16px;
    @media (min-width: $screen-md){
      width: auto;
      display: flex;
      position: static;
    }
    @media (min-width: $screen-xl){
      padding-left: 30px;
    }
  }
  &__link{
    color: $text-white;
    display: inline-block;
    padding: 5px 10px;
    &:hover, &:focus {
      color: #c9c9c9;
      background-color: #393939;
    }
  }

  &__hamburger{
    display: block;
    @media (min-width: $screen-md){
      display: none;
    }
  }
}

.main-hamburger{
  color: $grey;
  display: block;
  text-transform: uppercase;

  span{
    display: inline-block;
    width: 16px;
    height: 2px;
    margin-right: .5em;
    background-color: $grey;
    position: relative;
    bottom: 5px;

    &:after, &:before{
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: $grey;
    }
    &:before{
      transform: translateY(-5px);
    }    
    &:after{
      transform: translateY(3px);
    }    
  }
}


.search{
  &__label{
    display: block;
    position: relative;
    // &:hover, &:focus{
    //   cursor: pointer;
    // }
  }
  &__input{
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -10px;
    width: 250px;
    color: #666;
    background-color: #262626;
    padding: 8px 30px 8px 10px;    
    border: 1px solid $text-grey;
    outline: none;
    &:focus{
      color: #fff; 
      border: 1px solid #7c7c7c;
    }    
    &::-webkit-input-placeholder{
      color: #666;        
    }       
    &::placeholder{
      color: #666;         
    }
    // &:focus::-webkit-input-placeholder{
    //   color: #fff;       
    // }       
    // &:focus::placeholder{
    //   color: #fff;        
    // } 

    @media (min-width: $screen-xl){
      display: block;
    }
  }
}

.loupe{
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
  display: block;
  margin-left: auto;
  @include sprite($s-search);
  position: relative;
  right: 5px;
  z-index: 2;
  background-image: url(../img/svg/find.svg);
  background-position: 0 0;
  background-size: cover;
}