
.post{ 
  @media (min-width: $screen-xl){
    padding-bottom: 20px;
  } 
  &__title{
    padding: 25px 10px 15px;
    margin: 0;
    @include font-family('Roboto Bold', normal, normal);
    font-size: 18px;
    line-height: (20/16);
    @media (min-width: $screen-md){
      padding: 20px 20px 10px;      
      font-size: 20px;
      line-height: (24/20);
    }
    @media (min-width: $screen-xl){
      font-size: 24px;
      padding: 20px 40px 10px;
    }

    a{
      color: inherit;
    }
  }
  &__img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    &:after{
      content: '';
      display: block;
      @include sprite($s-warning-18);
      position: absolute;
      top: 20px;
      right: 20px;
      opacity: .5;
      @media (min-width: $screen-xl){
        right: 60px;
      }
    }

    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit:cover;
    }
    @media (min-width: $screen-xl){
      padding: 0 40px;
    }
  }
  &__info{
    padding: 0 10px 5px;
    display: flex;
    font-size: 12px;
    line-height: 2;
    @media (min-width: $screen-md){
      padding: 0 20px 10px;
    }
    @media (min-width: $screen-xl){
      padding: 0 40px 10px;
    }
  }
  &__excerpt{
    padding: 10px 10px;
    font-size: 13px;
    line-height: (18/13);
    @media (min-width: $screen-md){
      padding: 20px 20px;
      font-size: 15px;
      line-height: (24/15);
    }
    @media (min-width: $screen-xl){
      padding: 20px 40px;
    }
  }

  &__tags{
    padding: 0 150px 0 10px;
    @media (min-width: $screen-md){
      padding: 0 150px 0 20px;
    }
    @media (min-width: $screen-xl){
      padding-left: 40px;
    }     
    background-color: #eaeaea;
    display: flex;
    align-items: baseline;
    position: relative;
    .like{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 13px;
    }
  }
  &__tags-block{
    @media (min-width: $screen-md){
      display: flex;
      align-items: baseline
    }
    span{
      font-size: 10px;
      @media (min-width: $screen-md){
        font-size: 13px;
        color: $text-light-grey;
      }
    }
  }
  &__text{
    font-size: 13px;
    line-height: (18/13);
    padding: 0 10px;
    @media (min-width: $screen-md){
      font-size: 15px;
      line-height: (24/15);
      padding: 0 20px;
    }
    @media (min-width: $screen-xl){
      padding: 0 40px;
    }

    h1, h2, h3, h4, h5, h6{
      @include font-family('Roboto Regular', normal, normal);
      margin: 0;
    }
    h2, h3{
      font-size: 15px;
      @media (min-width: $screen-md){
        font-size: 20px;
        line-height: 1;
        @include font-family('Roboto Bold', normal, normal);
      }
    }
    h4, h5, h6{
      font-size: 15px;
    }
    a{
      color: red;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.date{
  color: $red;
  padding-right: 10px;
  @media (min-width: $screen-md){
    padding-right: 30px;
  }
  span{
    display: none;
    @media (min-width: $screen-md){
      display: inline;
    }
  }
}
.author{
  color: $text-grey;
  span{
    @include font-family('Roboto Bold', normal, normal);
  }
}
.post-tags{
  padding: 5px 5px;
  background-color: $light-grey;
  margin: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: (18/12);
  @media (min-width: $screen-md){
    padding: 5px 15px;
    font-size: 13px;
    line-height: (24/13);
  }
  @media (min-width: $screen-xl){
    margin: 0 40px;
  }

  &__item{
    display: inline-block;
    padding: 0 5px;
    a{
      color: inherit;
      &:hover, &:focus {
        color: $red;
      }
    }
  }
}
.control-panel{
  @media (min-width: $screen-md){
    display: flex;
    padding: 0 20px;
  }
  @media (min-width: $screen-xl){
    padding: 0 40px;
  }

  .btn--more{
    width: 100%;
    @include font-family('Roboto Regular', normal, normal);
    margin-bottom: 5px;
    font-size: 13px;
    @media (min-width: $screen-md){
      font-size: 15px;
      margin-bottom: 0;
      width: auto;
      padding: 5px 10px;
    }
  }
}
.functions{
  font-size: 13px;
  line-height: (24/13);
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  @media (min-width: $screen-md){
    flex-grow: 1;
    margin-left: 10px;
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 0 10px;
    align-items: stretch;
  }

  &__wrapper{
    display: flex;
  }
}
.counters{
  display: flex;
  align-items: center;
  &__looks{
    margin-right: 10px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 5px;
      @include sprite($s-eye);
    }
    span{
      display: none;
      @media (min-width: $screen-md){
        display: inline;
      }
    }
  }
  &__comments{
    margin-right: 10px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 5px;
      @include sprite($s-comment);
    }
    span{
      display: none;
      @media (min-width: $screen-md){
        display: inline;
      }
    }
  }
}

.link{
  font-size: 13px;
  line-height: (24/13);
  color: $text-grey;
  @media (min-width: $screen-md){
    padding: 5px 20px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  &:hover, &:focus {
    color: $red;
    background-color: #dcdcdc;
  }

  span{
    display: none;
    @media (min-width: $screen-md){
      display: inline;
    }
  }
}

.like{
  color: $text-grey;
  transition: none;
  align-self: center;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: baseline;
    @include sprite($s-heart);
    margin-right: .3em;
  }
  span{
    display: none;
    @media (min-width: $screen-md){
      display: inline;
    }
  }

  &:hover, &:focus {
    color: $red;
    &:before{
      content: '';
      display: inline-block;
      @include sprite($s-heart-active);
    }
  }
}


.pagination{
  padding: 15px 0;
  &__inner{
    margin: 15px 0;
    @media (min-width: $screen-md){
      margin: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    @media (min-width: $screen-xl){
      margin: 15px 0;
      padding: 0 40px;
    }
  }

  &__page{
    display: none;
    color: $text-grey;
    @media (min-width: $screen-xl){
      display: block;
    }
  }
  &__list{    
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    @include font-family('Roboto Bold', normal, normal);
    font-size: 15px;
    line-height: (26/15);
  }
  &__item{
    display: inline-block;
    padding: 2px 10px;
    a{
      color: $text-grey;
      &:hover, &:focus {
        color: $red;
      }
    }
    &--active{
      border: 2px solid $red;
      a{
        color: $red;
      }      
    }
  }
  &__back{
    display: none;
    color: $text-grey;
    @media (min-width: $screen-md){
      display: block;
    }
    &:hover, &:focus {
      color: $red;
    }
  }
}



