.search-advanced{
  &__form{
    padding: 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    @media (min-width: $screen-md){
      padding: 10px 20px;
      display: flex;
      align-items: center;
      background-color: #9e9e9e;
    }
    @media (min-width: $screen-xl){
      background-color: #e1e1e1;
      padding: 20px 40px;
    }
  }
  &__label{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    @media (min-width: $screen-md){
      margin-bottom: 0;
    }

    &:before{
      content: '';
      display: inline-block;
      @include sprite($s-search);
      opacity: .8;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }
  &__input{
    width: 100%;
    padding: 5px;
    border: 1px solid #b0b0b0;
    background-color: #fff;
    color: $text-grey;
    @media (min-width: $screen-md){
      padding-top: 6px;
      padding-bottom: 6px;
    }
    @media (min-width: $screen-xl){
      font-size: 16px;
      padding: 10px;
    }
    &::-webkit-input-placeholder{
      color: $text-grey;      
    }       
    &::placeholder{
      color: $text-grey;
      opacity: 1;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }
  }
  &__select{
    width: 100%;
    padding: 5px;
    border: 1px solid #b0b0b0;
    background-color: #fff;
    color: $text-grey;
    margin-bottom: 5px;
    @media (min-width: $screen-md){
      margin-bottom: 0;
    }
    @media (min-width: $screen-xl){
      font-size: 16px;
      padding: 10px;
    }
  }
  .btn{
    width: 100%;
    @media (min-width: $screen-md){
      width: auto;
      padding-top: 3px;
      padding-bottom: 4px;
    }
    @media (min-width: $screen-md){
      padding: 8px 20px;
    }
  }
}

.search-results{
  &__heading{
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    @media (min-width: $screen-md){
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    @media (min-width: $screen-xl){
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  &__title{
    font-weight: normal;
    margin: 0;
    font-size: 14px;
    line-height: (20/14);
  }
  &__amount{
    font-size: 12px;
    line-height: (20/12);
    color: $text-light-grey;
  }
  &__item{
    color: $text-grey;
    margin-bottom: 10px;
    font-size: 14px;
    @media (min-width: $screen-xl){
      font-size: 16px;
      line-height: (18/16);
      margin-bottom: 15px;
    }
  }
  &__subtitle{
    font-weight: normal;
    margin: 0;
    font-size: 14px;
    @media (min-width: $screen-xl){
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  &__list{
    padding-left: 55px;
  }
  &__link{
    color: $text-dark-grey;
    &:hover, &:focus {
      color: $red;
    }
  }
  &__date{
    font-size: 11px;
    @media (min-width: $screen-md){
      font-size: 12px;
    }
  }
}