.sidebar{
  background-color: $light-grey;
  @media (min-width: $screen-md){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @media (min-width: $screen-xl){
    flex: 0 0 24%;
    max-width: 24%;
    display: block;
  }
}

.main-info{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: $screen-md){
    padding: 0 20px;
  }
  @media (min-width: $screen-xl){
    display: block;
    padding: 5px 0;
  }

  &__block{
    display: flex;
    align-items: center;
    width: 100%;
    @media (min-width: $screen-md){
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (min-width: $screen-xl){
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }

    &--info{
      padding: 10px 10px;
      @media (min-width: $screen-md){
        padding: 0;
      }
    }
    &--buttons{
      align-items: stretch;
      border-bottom: 1px solid #fff;
      @media (min-width: $screen-md){
        border-bottom: none;
      }
    }
  }

  &__img{
    flex: 0 0 auto;
    text-align: center;
    @media (min-width: $screen-md){
      width: 40px;
    } 
    @media (min-width: $screen-xl){
      width: auto;
      margin: 20px 0 10px;
    }  
  }
  &__title{
    padding-left: 10px;
    margin: 0;
    @include font-family('Roboto Light', normal, normal);
    font-size: 11px;
    line-height: (14/11);    
    color: $text-dark-grey;
    @media (min-width: $screen-md){
      padding: 0;
      margin-left: 10px;
      font-size: 11px;
      line-height: (16/11);      
    }
    @media (min-width: $screen-xl){
      text-align: center; 
      font-size: 13px;
      margin-left: 0;
      padding: 0 20px; 
    }

    span{
      display: block;  
      @include font-family('Roboto Bold', normal, normal);    
      font-size: 15px;
      line-height: 1;
      @media (min-width: $screen-md){
        display: inline;
        font-size: 11px;
        line-height: (16/11);
      }
      @media (min-width: $screen-xl){
        display: block;
        font-size: 24px;
      }
    }
  }
  &__warning{
    font-size: 9px;
    line-height: (20/9);
    color: $text-light-grey;
    margin-top: 5px;
    
    @media (min-width: $screen-md){
      display: none;
    }
    @media (min-width: $screen-xl){
      display: block;
      margin-bottom: 5px;
    }
  }
  &__btn{
    flex-basis: 50%;
    text-align: center;
    background-color: $grey;
    border-right: 1px solid #fff;
    @media (min-width: $screen-md){
      background-color: transparent;
      border-right: none;
      flex-basis: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__link{
    display: block;
    line-height: 34px;    
    color: $text-dark-grey;    
    @media (min-width: $screen-md){
      display: none;
    }
  }
  .btn{
    display: none;
    @media (min-width: $screen-md){
      display: inline-block;
    }
  }
}

.categories{
  // margin-top: 20px;
  text-align: left;
  background-color: $grey;
  position: relative;
  flex-basis: 50%;
  @media (min-width: $screen-md){
    // margin-top: 0;
    background-color: $light-grey;
    padding-left: 20px;
    flex-grow: 1;
    flex-basis: 100%;
    border-left: 1px solid $white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: $screen-xl){
    padding: 0 20px;
    width: 100%;
    border-left: none;
    border-top: 1px solid $white;
  }

  &__title{
    display: none;
    @media (min-width: $screen-xl){
      display: block;
      @include font-family('Roboto Regular', normal, normal);
      font-size: 15px;
      color: $text-grey;
      margin: 0;
      padding: 15px 0;
    }
  }
  &__list{
    display: none;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    background-color: $grey;
    width: 200%;
    top: 100%;
    right: 0;
    border-top: 1px solid #fff;

    @media (min-width: $screen-md){
      // top: 100%;
      right: -15px;
      background-color: #eaeaea;
      border: 1px solid $text-light-grey;
      width: 340px; /* не гуд, ну а что делать :( */
    }
    @media (min-width: $screen-xl){
      position: static;
      display: block;
      width: auto;
      border: none;
    }
  }
  &__item{
    padding: 0 20px;
    @media (min-width: $screen-xl){
      padding: 0;
    }
  }
  &__link{
    color: $text-dark-grey;
    @include font-family('Roboto Bold', normal, normal);
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
    &:hover, &:focus {
      color: $red;
    }
  }
  &__counter{
    position: absolute;
    bottom: 10px;
    right: 0;
    @include font-family('Roboto Regular', normal, normal);
  }
}
.sub-categories{
  display: none;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  &__item{
    a{
      color: $text-dark-grey;
      display: inline-block;
      width: 100%;
      padding: 10px 0;
      position: relative;
      border-bottom: 1px solid #dbdbdb;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}
.cat-hamburger{
  text-align: center;
  color: #424242;
  text-shadow: $text-shadow;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  @media (min-width: $screen-xl){
    display: none;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  span{
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 16px;
    height: 2px;
    margin-right: .5em;
    background-color: #424242;

    &:after, &:before{
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: #424242;
    }
    &:before{
      transform: translateY(-5px);
    }    
    &:after{
      transform: translateY(3px);
    }    
  }
}

.invitation{
  display: none;
  padding: 15px 15px;
  color: $text-grey;
  @media (min-width: $screen-md){
    flex-basis: 100%;
    max-width: 100%;
    background-color: $white;
    padding: 15px 20px;
    // display: flex;
    align-items: center;
  }
  @media (min-width: $screen-xl){
    display: block;
    background-color: $light-grey;
    border-bottom: 1px solid #ddd;
  }  

  &__title{
    margin: 0 0 10px;
    @include font-family('Roboto Regular', normal, normal);
    font-size: 13px;
    line-height: (20/13);
    @media (min-width: $screen-md){
      margin: 0;
      color: $text-dark-grey;
      font-size: 15px;
      padding-right: 10px;
    }
    @media (min-width: $screen-xl){
      margin-bottom: 5px;
    }
  }
  &__form{
    display: flex;
    justify-content: center;
    @media (min-width: $screen-xl){
      flex-direction: column;
    }
  }
  &__label{
    flex: 1 1 auto;
    display: block;
  }
  &__input{
    width: 100%;
    color: $text-grey;
    background-color: $white;
    padding: 8px 10px;    
    border: 1px solid $grey;
    outline: none;
    &::-webkit-input-placeholder{
      color: $text-grey;         
    }       
    &::placeholder{
      color: $text-grey;         
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 

    @media (min-width: $screen-xl){
      display: block;
    }
  }
  .btn{
    @include font-family('Roboto Regular', normal, normal);
    @media (min-width: $screen-xl){
      margin-top: 5px;
    }
    span{
      display: none;
      @media (min-width: $screen-xl){
        display: inline;
      }
    }

    &:after{
      content: '';
      display: block;
      margin-left: auto;
      @include sprite($s-mail);
      @media (min-width: $screen-xl){
        display: none;
      }
    }
  }
}

