mixin comment(name, text, date, time)

  +b.ARTICLE.comment
    +e.A.person(href="#") #{name}
    +e.text !{text}
    +e.time 
      +e.SPAN.time-added Добавлено #{date} в #{time}
      +e.A.answer(href="#") Ответить на комментарий



