mixin comment(name, text, date, time)

  +b.ARTICLE.comment
    +e.H3.person #{name}
    +e.text !{text}
    +e.time Добавлено #{date} в #{time}
      +e.A.answer(href="#") Ответить на комментарий



