@charset "UTF-8";

// 3rd party
@import "partials/abstracts/variables";
// @import "partials/abstracts/bootstrap-flex";
@import "vendor/normalize";
// @import "vendor/mq";
// @import "vendor/slick";

// Abstracts
@import "partials/abstracts/mixins";
@import "partials/abstracts/png-sprite";

// Base
@import "partials/base/typography";
@import "partials/base/template";

// Components

@import "partials/components/header";
@import "partials/components/sidebar";
@import "partials/components/btn";
@import "partials/components/page";
@import "partials/components/index";
@import "partials/components/post";
@import "partials/components/comments";
@import "partials/components/similar-posts";
@import "partials/components/footer";
@import "partials/components/subscribe";
@import "partials/components/search";
