/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;

$screen-xs:                   0; // Extra small screen / phone
$screen-md:                   768px; // Medium screen / tablet
$screen-xl:                   1024px; // Extra large screen / wide desktop

$container-xl:                1120px;


$container-max-widths: (
        sm:                   480px,
        md:                   700px,
        lg:                   950px,
        xl:                   1120px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table 

$white:                       #ffffff;
$black:                       #000000;

$dark-grey:                   #333333;
$grey:                        #cccccc;
$light-grey:                  #eaeaea;
$lighter-grey:                #f0f0f0;

$grey-btn-gradient:           linear-gradient( 180deg, rgb(234,234,234) 0%, rgb(207,207,207) 100%);

$crimson:                     #912a42;
$red:                         #ba2544;


$text-light-grey:             #999999;
$text-grey:                   #666666;
$text-dark-grey:              #333333;

$text-shadow:                 0 1px 2px #fff;


// $success:                     #00ff00;
// $error:                       #ff0000;


// Colors in use

$body-bg:                     #cecece;
$text-color:                  $text-dark-grey;


$link-color:                  $red;

$text-white:                  $white;
// $link-white:            $text-color-white;




//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------


$font-family:                   'Roboto', Helvetica, Arial, sans-serif;
$font-family--light:            'Roboto Light', Helvetica, Arial, sans-serif;
$font-family--bold:             'Roboto Bold', Helvetica, Arial, sans-serif;




$font-size:                     15px;

$font-size-small:               13px;
$font-size-smaller:             12px;
$font-size-smallest:            11px;


$font-size-h1:                24px;
$font-size-h2:                20px;


$line-height:                 1.6;



