include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  +e.inner
    +b.copyright Best Girl © Женский блог о красоте, здоровье, увлечениях и образе жизни. 

//- // Overlay
//- +b.overlay
//-   +e.bg
//-   +e.form
//-     +e.close(href="/")
//-     // Form
//-     +b.SECTION.form


                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#package')