include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  +e.inner

    +e.slogan
      a(href="index.html") Best Girl

    +e.nav                 
      // Nav
      +b.NAV.nav
        +e.UL.list
          +e.item 
            +e.A.link(href="page.html") Женский блог
          +e.item 
            +e.A.link(href="page.html") Интересы
          +e.item 
            +e.A.link(href="page.html") Популярное
          +e.item 
            +e.A.link(href="page.html") Подписка

        +e.hamburger
          +b.A.main-hamburger(href="#")
            span
            | Меню

    +e.search
      // Search
      +b.SECTION.search
        +e.FORM.form(action='', method='')
          +e.LABEL.label
            +e.INPUT.input(type='text', name='Поиск', placeholder="Поиск по сайту")
          //- +b.BUTTON.btn(type='submit') 



