<aside class="sidebar">
  <div class="main-info">
    <div class="main-info__block main-info__block--info">
      <a class="main-info__img" href="index.html">
        <img src="img/girl-icon.png" alt="girl-image" title="logo" />
      </a>
      <div class="main-info__text">
        <h2 class="main-info__title">
          <span>Женский блог </span>о красоте, здоровье, увлечениях и образе жизни для девушек</h2>
        <div class="main-info__warning">Блог для женской аудитории старше 18 лет</div>
      </div>
    </div>
    <div class="main-info__block main-info__block--buttons">
      <div class="main-info__btn">
        <a class="main-info__link" href="page-subscribe.html">Подписаться</a>
        <a class="btn btn--subscribe" href="page-subscribe.html">Подписаться</a>
      </div>
      <div class="categories">
        <a class="cat-hamburger" href="#">
          <span></span>Рубрики</a>
        <h2 class="categories__title">Рубрики женского блога</h2>
        <ul class="categories__list">
          <li class="categories__item">
            <a class="categories__link" href="page.html">Искусство и творчество
              <span class="categories__counter">21</span>
            </a>
            <ul class="sub-categories">
              <li class="sub-categories__item">
                <a href="#">Актерское мастерство</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Видеосъёмка</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Фотосъёмка</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Живопись</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Современное искусство</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Кино</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Любительский театр</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Мода</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Музыка</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Фотография</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Экскурсии по музеям</a>
              </li>
            </ul>
          </li>
          <li class="categories__item">
            <a class="categories__link" href="page.html">Семья и отношения
              <span class="categories__counter">31</span>
            </a>
            <ul class="sub-categories">
              <li class="sub-categories__item">
                <a href="#">Дружба</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Домашние животные</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Уход за детьми</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Общение</a>
              </li>
            </ul>
          </li>
          <li class="categories__item">
            <a class="categories__link" href="page.html">Красота и здоровье
              <span class="categories__counter">41</span>
            </a>
            <ul class="sub-categories">
              <li class="sub-categories__item">
                <a href="#">Визаж</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Диета</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Женское здоровье</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Макияж</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Солярий</a>
              </li>
            </ul>
          </li>
          <li class="categories__item">
            <a class="categories__link" href="page.html">Религия и философия
              <span class="categories__counter">21</span>
            </a>
            <ul class="sub-categories">
              <li class="sub-categories__item">
                <a href="#">Йога</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Культурные традиции</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Ценности</a>
              </li>
            </ul>
          </li>
          <li class="categories__item">
            <a class="categories__link" href="page.html">Карьера и развитие
              <span class="categories__counter">31</span>
            </a>
            <ul class="sub-categories">
              <li class="sub-categories__item">
                <a href="#">Бизнес</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Домохозяйство</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Иностранные языки</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Кулинария</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Личностный рост</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Психология</a>
              </li>
            </ul>
          </li>
          <li class="categories__item">
            <a class="categories__link" href="page.html">Спорт и отдых
              <span class="categories__counter">41</span>
            </a>
            <ul class="sub-categories">
              <li class="sub-categories__item">
                <a href="#">Автостоп</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Вязание</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Комнатные растения</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Настольные игры</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Фитнес</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Чтение книг</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Танцы</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Плавание</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Отдых с друзьями</a>
              </li>
              <li class="sub-categories__item">
                <a href="#">Оригами</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="invitation">
    <h3 class="invitation__title">Пригласить подругу в блог </h3>
    <form class="invitation__form" action="" method="">
      <label class="invitation__label">
        <input class="invitation__input" type="email" name="Email" placeholder="Укажите эл.почту" />
      </label>
      <button class="btn btn--invite" type="submit">
        <span>Выслать приглашение</span>
      </button>
    </form>
  </div>
</aside>